<!DOCTYPE html>
<html>
<head>
    <title>AI Weather Channel</title>
    <script>
        function switchVideo(videoNumber) {
            var videoPlayer = document.getElementById('videoPlayer');
            videoPlayer.src = '/video/video_' + videoNumber + '.mp4';
            videoPlayer.load();
            videoPlayer.play();
        }
    </script>
</head>
<body>
    <h1>WEATHER ACROSS THE WORLD</h1>
    <video id="videoPlayer" width="1024" height="1024" controls autoplay loop>
        <source src="/video/video_0.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <br/>
    <button onclick="switchVideo(0)">NEW YORK</button>
    <button onclick="switchVideo(1)">LONDON</button>
    <button onclick="switchVideo(2)">PARIS</button>
    <button onclick="switchVideo(3)">VIENNA</button>
    <button onclick="switchVideo(4)">MADRID</button>
</body>
</html>
